.btn {
  width: 279px;
  height: 60px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 30px;
  background: linear-gradient(92.52deg, #E22D58 0%, #970B86 100%);
  
  &:hover,
  &:active {
    background: #970B86;
  }
}
.btn--white {
  border: 1px solid #FFFFFF;
  background: linear-gradient(90.09deg, rgba(255, 255, 255, 0) -1.82%, rgba(255, 255, 255, 0.16) 50.83%, rgba(255, 255, 255, 0) 99.92%);
  
  &:hover,
  &:active {
    background: linear-gradient(90.09deg, rgba(255, 255, 255, 0) -1.82%, rgba(255, 255, 255, 0.2) 50.83%, rgba(255, 255, 255, 0) 99.92%);
  }
}
.btn--pink {
  color: #E22D58;
  background: linear-gradient(180deg, rgba(226, 45, 88, 0.1) 0%, rgba(151, 11, 134, 0.1) 100%);
  
  &:hover,
  &:active {
    color: #FFFFFF;
    background: linear-gradient(92.52deg, #E22D58 0%, #970B86 100%);
  }
}
.btn--shadow {
  position: relative;
  z-index: 5;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -3px;
    right: -3px;
    top: -4px;
    bottom: -4px;
    background: linear-gradient(92.52deg, #E22D58 0%, #970B86 100%);
    filter: blur(50px);
    border-radius: 30px;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0px;
    right: 0px;
    top: 4px;
    bottom: -4px;
    background: #000000;
    opacity: 0.1;
    border-radius: 30px;
  }
}