@media (max-width: 1800px) {
  .undertitle {
    font-size: 160px;
  }
}
@media (max-width: 1400px) {
  .undertitle {
    font-size: 140px;
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  .wrapper {
    padding-left: 66px;
  }
  .promo {
    background-size: cover;
    background-position: center;
  }
  .result__list {
    margin-right: -30px;
  }
  .result__item {
    margin-right: 30px;
  }
}
@media (max-width: 1200px) {
  .header .social {
    display: none;
  }
  .benefits__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .benefits__item {
    width: 350px;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .result__list {
    margin-right: 0;
    justify-content: space-around;
  }
  .course__img img {
    width: 100%;
    height: auto;
  }
}