.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2000;
  width: 66px;
  padding: 18px;
  background: #030303;
  
  &--opened {
    z-index: 990;
    width: 100vw;
    padding: 0;
    
    .menu__wrap {
      display: block;
    }
  }
}
.menu__btn {
  position: relative;
  z-index: 2000;
  width: 30px;
  height: 30px;
  background-image: url(../img/icons/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
  &--close {
    position: absolute;
    top: 18px;
    left: 18px;
    background-image: url(../img/icons/cross.svg);
    background-size: 23px 24px;
  }
}
.menu__wrap {
  display: none;
  padding-top: 152px;
  height: 100vh;
  color: #fff;
  background-color: #030303;
  background-image: url(../img/images/menu.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  mix-blend-mode: lighten;
}
.menu__block {
  margin-bottom: 55px;
}
.menu__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 350;
  font-size: 28px;
  line-height: 1.2;
  opacity: 0.5;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.menu__list {
  .reset();
  list-style: none;
  width: 190px;
}
.menu__item {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  
  &:last-child {
    border-bottom: 0;
  }
}